*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0; }

.container {
  width: 100%;
  padding: 0 5.5%;
  height: 600px;
  margin: 0;
  max-width: 1900px; }
  .container .row {
    height: 100%; }
  .container .menu {
    width: 224px;
    height: 100%; }
    .container .menu h1 {
      display: block;
      font-family: "Yeon Sung", cursive;
      padding-top: 100px; }
    .container .menu ul {
      list-style: none;
      padding: 0;
      font-size: 13px;
      line-height: 1.5em;
      padding: 25px 0 25px; }
    .container .menu a {
      padding: 5px 5px 5px 3px;
      display: inline-block;
      color: #444444;
      text-decoration: none;
      font-family: "Voltaire", sans-serif; }
      .container .menu a:hover {
        color: #81bbaa;
        font-size: 16px; }
    .container .menu footer {
      height: 100px; }
      .container .menu footer .row {
        margin: 0; }
        .container .menu footer .row img {
          height: 50px;
          width: 50px; }
        .container .menu footer .row button {
          width: 45%;
          height: 40px;
          padding: 0;
          margin: 8px 0 0 5px; }
        .container .menu footer .row #popup {
          width: 1px;
          position: relative;
          transform: scale(0);
          transition: all ease-in-out 300ms;
          z-index: 100; }
          .container .menu footer .row #popup #arrow {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 20px;
            left: 5px;
            transform: rotate(45deg);
            background-color: #888888; }
          .container .menu footer .row #popup #popup-content {
            position: absolute;
            width: 190px;
            left: 10px;
            top: 8px;
            background-color: #888888;
            border-radius: 5px; }
            .container .menu footer .row #popup #popup-content a {
              display: block;
              padding: 18px;
              line-height: 15px;
              position: relative;
              color: black; }
              .container .menu footer .row #popup #popup-content a.line-bottom:after {
                content: ' ';
                position: absolute;
                top: 100%;
                left: 5%;
                width: 90%;
                border-top: 1px darkgray solid; }
              .container .menu footer .row #popup #popup-content a img {
                height: 30px;
                width: 30px; }
      .container .menu footer h4 {
        display: block;
        font-family: "Voltaire", sans-serif;
        font-size: 12px;
        color: black;
        margin: 10px 0 0 8px; }
      .container .menu footer #overlay {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: all;
        z-index: 0; }
  .container .content {
    width: 70%;
    height: 100%; }

/*# sourceMappingURL=stylesheet.css.map */
