//@import ".idea/stylesheets/bootstrap";
$green :#81bbaa;

$color2 :#FFDED6;
$border :1px solid black;
$font :'Yeon Sung', cursive;
$font2 : 'Voltaire', sans-serif;
$fontMenu:"Freight Sans Condensed Book", "Freight Sans Condensed Book", sans-serif;
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  padding: 0 5.5%;
  height: 600px;
  margin: 0;
  max-width: 1900px;
  .row {
    height: 100%;

  }
  .menu {
    width: 224px;
    height: 100%;
    //background-color: $color1;
    //border: $border;
    h1 {
      display: block;
      font-family: $font;
      padding-top: 100px;
    }
    ul {
      list-style: none;
      padding: 0;
      font-size: 13px;
      line-height: 1.5em;
      padding: 25px 0 25px;
    }
    a {
      padding: 5px 5px 5px 3px;
      display: inline-block;
      color: #444444;
      text-decoration: none;
      font-family:$font2;
      &:hover{
        color:$green;
        font-size: 16px;
      }
    }
    footer {
      //border: $border;
      height: 100px;
      .row {
        //height: 50%;
        margin: 0;
        img{
          height: 50px;
          width: 50px;
        }
        button {
          width: 45%;
          height: 40px;
          padding: 0;
          margin: 8px 0 0 5px;
        }
        #popup{
          width: 1px;
          position: relative;
          transform: scale(0);
          transition: all ease-in-out 300ms;
          z-index: 100;
          #arrow {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 20px;
            left: 5px;
            transform: rotate(45deg);
            background-color: #888888;
          }
          #popup-content{
            position: absolute;
            width: 190px;
            //height: 205px;
            left: 10px;
            top: 8px;
            background-color: #888888;
            border-radius: 5px;
            a {
              display: block;
              padding: 18px;
              line-height: 15px;
              position: relative;
              color: black;
              &.line-bottom:after {
                content: ' ';
                position: absolute;
                top: 100%;
                left: 5%;
                width: 90%;
                border-top: 1px darkgray solid;
              }
              img {
                height: 30px;
                width: 30px;
              }
            }
          }
        }
      }
      h4 {
        display: block;
        font-family: $font2;
        font-size: 12px;
        color: black;
        margin: 10px 0 0 8px;
      }
      #overlay{
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: all;
        z-index: 0;
      }
    }
  }
  .content {
    //background-color: lightgray;
    width: 70%;
    height: 100%;

  }
}





