$color1 :#FAFFC7;
$color2 :#FFDED6;
$border :1px solid black;
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  padding: 0 5.5%;
  height: 600px;
  margin: 0;
  max-width: 1900px;
  .row {
    height: 100%;
  }
  .menu {
    width: 13%;
    height: 100%;
    background-color: $color1;
    border: $border;
  }
  .content {
    background-color: $color2;
    width: 70%;
    height: 100%;
  }
}




